name: Rust CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  release:
    types: [published]

jobs:
  # --------------------------------------------------------------------------
  # Pre-checks
  # --------------------------------------------------------------------------

  check:
    runs-on: ubuntu-latest
    container:
      image: rust:${{ matrix.rust }}
    strategy:
      matrix:
        include:
          - rust: 1.89-bookworm
            clippy_opts: "-Dwarnings -Aunknown_lints"
          - rust: 1.92-trixie
            clippy_opts: "-Dwarnings"
    steps:
      - run: rustup component add rustfmt clippy
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          ref: ${{ github.event.release.tag_name && format('refs/tags/{0}', github.event.release.tag_name) || github.sha }}
      - run: |
          cargo check --workspace --all-targets --all-features --verbose
          cargo clippy --workspace --all-targets --all-features -- ${{ matrix.clippy_opts }}
          cargo fmt --all --check --verbose

  # --------------------------------------------------------------------------
  # Tests
  # --------------------------------------------------------------------------

  test-linux:
    runs-on: ubuntu-latest
    needs: check
    container:
      image: rust:${{ matrix.rust }}
    strategy:
      matrix:
        rust: [1.89-bookworm, 1.92-trixie]
        arch: [x86_64, i686]
    steps:
      - if:  ${{ matrix.arch == 'i686' }}
        run: |
          export DEBIAN_FRONTEND=noninteractive
          apt-get update -qq && apt-get install -y --no-install-recommends gcc-multilib libc6-dev-i386
          rustup target add i686-unknown-linux-gnu
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          ref: ${{ github.event.release.tag_name && format('refs/tags/{0}', github.event.release.tag_name) || github.sha }}
      - run: |
          cargo test --workspace --target ${{ matrix.arch }}-unknown-linux-gnu --verbose
          cargo test --workspace --target ${{ matrix.arch }}-unknown-linux-gnu --verbose --release -- --include-ignored
        env:
          CARGO_TARGET_DIR: /tmp/sponge256sum-test

  test-windows:
    runs-on: windows-latest
    needs: check
    strategy:
      matrix:
        rust: [1.89.0, 1.92.0]
        arch: [x86_64, i686]
    steps:
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: ${{ matrix.rust }}
          target: ${{ matrix.arch }}-pc-windows-msvc
          cache: false
          rustflags: -Dwarnings
      - run: git config --global core.symlinks false
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          ref: ${{ github.event.release.tag_name && format('refs/tags/{0}', github.event.release.tag_name) || github.sha }}
      - run: |
          $PSNativeCommandUseErrorActionPreference = $true
          iex "cargo test --workspace --target ${{ matrix.arch }}-pc-windows-msvc --verbose"
          iex "cargo test --workspace --target ${{ matrix.arch }}-pc-windows-msvc --verbose --release -- --include-ignored"
        env:
          CARGO_TARGET_DIR: ${{ runner.temp }}\sponge256sum-test

  test-macos:
    runs-on: macos-latest
    needs: check
    strategy:
      matrix:
        rust: [1.89.0, 1.92.0]
        arch: [x86_64, aarch64]
    steps:
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: ${{ matrix.rust }}
          target: ${{ matrix.arch }}-apple-darwin
          cache: false
          rustflags: -Dwarnings
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          ref: ${{ github.event.release.tag_name && format('refs/tags/{0}', github.event.release.tag_name) || github.sha }}
      - run: |
          cargo test --workspace --target ${{ matrix.arch }}-apple-darwin --verbose
          cargo test --workspace --target ${{ matrix.arch }}-apple-darwin --verbose --release
        env:
          CARGO_TARGET_DIR: /tmp/sponge256sum-test

  # --------------------------------------------------------------------------
  # Coverage
  # --------------------------------------------------------------------------

  coverage:
    runs-on: ubuntu-latest
    needs: check
    container:
      image: rust:1.92-trixie
    steps:
      - uses: taiki-e/install-action@cargo-llvm-cov
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          ref: ${{ github.event.release.tag_name && format('refs/tags/{0}', github.event.release.tag_name) || github.sha }}
      - run: cargo llvm-cov --features with-mimalloc --workspace --ignore-filename-regex test --lcov --output-path /tmp/sponge256sum.lcov
        env:
          CARGO_TARGET_DIR: /tmp/sponge256sum-coverage
      - uses: codecov/codecov-action@v5
        with:
          files: /tmp/sponge256sum.lcov
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true

  # --------------------------------------------------------------------------
  # Build (native)
  # --------------------------------------------------------------------------

  build-linux:
    runs-on: ubuntu-latest
    needs: [test-linux, test-windows, test-macos]
    container:
      image: lordmulder/rust-xbuild:1.92-trixie-r5
    steps:
      - run: git config --global --add safe.directory '*'
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          ref: ${{ github.event.release.tag_name && format('refs/tags/{0}', github.event.release.tag_name) || github.sha }}
      - working-directory: ${{ github.workspace }}/.build/linux
        run: make
      - uses: actions/upload-artifact@v4
        with:
          name: sponge256sum-linux
          path: ${{ github.workspace }}/.build/linux/out/target/*.*
      - uses: actions/upload-pages-artifact@v3
        with:
          path: ${{ github.workspace }}/.build/linux/out/target/release/doc

  build-windows:
    runs-on: windows-latest
    needs: [test-linux, test-windows, test-macos]
    steps:
      - uses: repolevedavaj/install-nsis@v1.1.0
        with:
          nsis-version: '3.11'
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: 1.92.0
          target: x86_64-pc-windows-msvc,i686-pc-windows-msvc,aarch64-pc-windows-msvc
          components: rust-src
          cache: false
          rustflags: "-Dwarnings -Ctarget-feature=+crt-static"
      - run: |
          git config --global core.symlinks false
          git config --global --add safe.directory '*'
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          ref: ${{ github.event.release.tag_name && format('refs/tags/{0}', github.event.release.tag_name) || github.sha }}
      - working-directory: ${{ github.workspace }}/.build/windows
        run: cmd.exe /c make.cmd
      - uses: actions/upload-artifact@v4
        with:
          name: sponge256sum-windows
          path: ${{ github.workspace }}/.build/windows/out/target/*.*

  build-macos:
    runs-on: macos-latest
    needs: [test-linux, test-windows, test-macos]
    steps:
      - run: git config --global --add safe.directory '*'
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: 1.92.0
          target: x86_64-apple-darwin,aarch64-apple-darwin
          cache: false
          rustflags: "-Dwarnings -Ctarget-feature=+crt-static"
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          ref: ${{ github.event.release.tag_name && format('refs/tags/{0}', github.event.release.tag_name) || github.sha }}
      - working-directory: ${{ github.workspace }}/.build/bsd-unix
        run: ./build-macos.sh
      - uses: actions/upload-artifact@v4
        with:
          name: sponge256sum-macos
          path: ${{ github.workspace }}/.build/bsd-unix/out/target/*.*

  # --------------------------------------------------------------------------
  # Build (cross-platform)
  # --------------------------------------------------------------------------

  build-freebsd:
    runs-on: ubuntu-latest
    needs: [test-linux, test-windows, test-macos]
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          ref: ${{ github.event.release.tag_name && format('refs/tags/{0}', github.event.release.tag_name) || github.sha }}
      - uses: cross-platform-actions/action@v0.32.0
        with:
          operating_system: freebsd
          version: '15.0'
          shell: bash
          image_url: 'https://github.com/lordmulder/cross-platform-actions-freebsd-builder/releases/download/v4/freebsd-15.0-x86-64.qcow2'
          run: |
            git config --global --add safe.directory '*'
            . /opt/rust/cargo/env
            ( cd .build/bsd-unix && ./build-freebsd.sh )
      - uses: actions/upload-artifact@v4
        with:
          name: sponge256sum-freebsd
          path: ${{ github.workspace }}/.build/bsd-unix/out/target/*.tar.xz

  build-openbsd:
    runs-on: ubuntu-latest
    needs: [test-linux, test-windows, test-macos]
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          ref: ${{ github.event.release.tag_name && format('refs/tags/{0}', github.event.release.tag_name) || github.sha }}
      - uses: cross-platform-actions/action@v0.32.0
        with:
          operating_system: openbsd
          version: '7.8'
          shell: bash
          image_url: 'https://github.com/lordmulder/cross-platform-actions-openbsd-builder/releases/download/v1/openbsd-7.8-x86-64.qcow2'
          run: |
            git config --global --add safe.directory '*'
            ( cd .build/bsd-unix && ./build-openbsd.sh )
      - uses: actions/upload-artifact@v4
        with:
          name: sponge256sum-openbsd
          path: ${{ github.workspace }}/.build/bsd-unix/out/target/*.tar.xz

  build-haikuos:
    runs-on: ubuntu-latest
    needs: [test-linux, test-windows, test-macos]
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          ref: ${{ github.event.release.tag_name && format('refs/tags/{0}', github.event.release.tag_name) || github.sha }}
      - uses: cross-platform-actions/action@v0.32.0
        with:
          operating_system: haiku
          version: 'r1beta5'
          shell: bash
          image_url: 'https://github.com/lordmulder/cross-platform-actions-haiku-builder/releases/download/v1/haiku-r1beta5-x86-64.qcow2'
          run: |
            git config --global --add safe.directory '*'
            ( cd .build/bsd-unix && ./build-haiku.sh )
      - uses: actions/upload-artifact@v4
        with:
          name: sponge256sum-haiku
          path: ${{ github.workspace }}/.build/bsd-unix/out/target/*.tar.xz

  # --------------------------------------------------------------------------
  # Build (vmactions)
  # --------------------------------------------------------------------------

  build-netbsd:
    runs-on: ubuntu-latest
    needs: [test-linux, test-windows, test-macos]
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          ref: ${{ github.event.release.tag_name && format('refs/tags/{0}', github.event.release.tag_name) || github.sha }}
      - uses: vmactions/netbsd-vm@v1
        with:
          release: "10.1"
          usesh: true
          prepare: |
            /usr/sbin/pkg_add -u git curl clang
            curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y --default-toolchain 1.92.0
            mkdir -p /opt/sysroot/i386
            curl -sSf https://cdn.netbsd.org/pub/NetBSD/NetBSD-10.1/i386/binary/sets/base.tgz | tar -C /opt/sysroot/i386 -xzf - lib usr/lib
            curl -sSf https://cdn.netbsd.org/pub/NetBSD/NetBSD-10.1/i386/binary/sets/comp.tgz | tar -C /opt/sysroot/i386 -xzf - usr/lib
            . "$HOME/.cargo/env"
            rustup component add rust-src
            git config --global --add safe.directory '*'
          run: |
            . "$HOME/.cargo/env"
            ( cd .build/bsd-unix && ./build-netbsd.sh )
      - uses: actions/upload-artifact@v4
        with:
          name: sponge256sum-netbsd
          path: ${{ github.workspace }}/.build/bsd-unix/out/target/*.tar.xz

  build-dragonfly:
    runs-on: ubuntu-latest
    needs: [test-linux, test-windows, test-macos]
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          ref: ${{ github.event.release.tag_name && format('refs/tags/{0}', github.event.release.tag_name) || github.sha }}
      - uses: vmactions/dragonflybsd-vm@v1
        with:
          release: "6.4.2"
          usesh: true
          prepare: |
            fetch http://www.ravenports.com/repository/ravenports-downloader.sh -o - | /bin/sh
            /raven/sbin/rvn install -y rust
            git config --global --add safe.directory '*'
          run: |
            export PATH=/raven/bin:/raven/sbin:$PATH
            cd .build/bsd-unix
            ./build-dragonfly.sh
      - uses: actions/upload-artifact@v4
        with:
          name: sponge256sum-dragonfly
          path: ${{ github.workspace }}/.build/bsd-unix/out/target/*.tar.xz

  build-solaris:
    runs-on: ubuntu-latest
    needs: [test-linux, test-windows, test-macos]
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          ref: ${{ github.event.release.tag_name && format('refs/tags/{0}', github.event.release.tag_name) || github.sha }}
      - uses: vmactions/solaris-vm@v1
        with:
          release: "11.4"
          usesh: true
          prepare: |
            pkg install developer/gcc developer/versioning/git
            ( cd /tmp && curl -sSf https://static.rust-lang.org/dist/rust-1.92.0-x86_64-pc-solaris.tar.gz | tar -xzf - )
            /tmp/rust-1.92.0-x86_64-pc-solaris/install.sh
            rm -rf /tmp/rust-1.92.0-x86_64-pc-solaris
            git config --global --add safe.directory '*'
          run: |
            export PATH="/usr/local/bin:$PATH"
            ( cd .build/bsd-unix && ./build-solaris.sh )
      - uses: actions/upload-artifact@v4
        with:
          name: sponge256sum-solaris
          path: ${{ github.workspace }}/.build/bsd-unix/out/target/*.tar.xz

  build-illumos:
    runs-on: ubuntu-latest
    needs: [test-linux, test-windows, test-macos]
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          ref: ${{ github.event.release.tag_name && format('refs/tags/{0}', github.event.release.tag_name) || github.sha }}
      - uses: vmactions/omnios-vm@v1
        with:
          release: r151056
          usesh: true
          prepare: |
            pkg install developer/build-essential developer/versioning/git
            curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y --default-toolchain 1.92.0
            git config --global --add safe.directory '*'
          run: |
            . "$HOME/.cargo/env"
            ( cd .build/bsd-unix && ./build-solaris.sh )
      - uses: actions/upload-artifact@v4
        with:
          name: sponge256sum-illumos
          path: ${{ github.workspace }}/.build/bsd-unix/out/target/*.tar.xz

  # ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  # Deploy pages
  # ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

  pages:
    runs-on: ubuntu-latest
    needs: [build-linux, build-windows, build-macos, build-freebsd, build-netbsd, build-openbsd, build-dragonfly, build-solaris, build-illumos, build-haikuos]
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - id: deployment
        uses: actions/deploy-pages@v4

  # --------------------------------------------------------------------------
  # Release
  # --------------------------------------------------------------------------

  release:
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'release' }}
    needs: [build-linux, build-windows, build-macos, build-freebsd, build-netbsd, build-openbsd, build-dragonfly, build-solaris, build-illumos, build-haikuos]
    permissions:
      contents: write
    steps:
      - uses: actions/download-artifact@v4
        with:
          pattern: sponge256sum-*
          path: artifacts
          merge-multiple: true
      - uses: Roang-zero1/github-upload-release-artifacts-action@v2
        with:
          args: artifacts/
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
