name: Rust CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  release:
    types: [published]

jobs:
  # --------------------------------------------------------------------------
  # Pre-checks
  # --------------------------------------------------------------------------

  check:
    runs-on: ubuntu-latest
    container:
      image: rust:${{ matrix.rust }}
    strategy:
      matrix:
        include:
          - rust: 1.89-bookworm
            clippy_opts: "-Dwarnings -Aunknown_lints"
          - rust: 1.91-trixie
            clippy_opts: "-Dwarnings"
    steps:
      - run: rustup component add rustfmt clippy
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          ref: ${{ github.event.release.tag_name && format('refs/tags/{0}', github.event.release.tag_name) || github.sha }}
      - working-directory: ${{ github.workspace }}/lib
        run: |
          cargo check --verbose
          cargo clippy -- ${{ matrix.clippy_opts }}
          cargo fmt --all --check --verbose
      - working-directory: ${{ github.workspace }}/app
        run: |
          cargo check --verbose
          cargo clippy -- ${{ matrix.clippy_opts }}
          cargo fmt --all --check --verbose

  # --------------------------------------------------------------------------
  # Tests
  # --------------------------------------------------------------------------

  test-linux:
    runs-on: ubuntu-latest
    needs: check
    container:
      image: rust:${{ matrix.rust }}
    strategy:
      matrix:
        rust: [1.89-bookworm, 1.91-trixie]
    env:
      TEST_EXTRA_OPTS: --verbose${{ github.event_name == 'release' && ' -- --include-ignored' || '' }}
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          ref: ${{ github.event.release.tag_name && format('refs/tags/{0}', github.event.release.tag_name) || github.sha }}
      - working-directory: ${{ github.workspace }}/lib
        run: |
          cargo test ${TEST_EXTRA_OPTS}
          cargo test --release ${TEST_EXTRA_OPTS}
      - working-directory: ${{ github.workspace }}/app
        run: |
          cargo test ${TEST_EXTRA_OPTS}
          cargo test --release ${TEST_EXTRA_OPTS}

  test-windows:
    runs-on: windows-latest
    needs: check
    strategy:
      matrix:
        rust: [1.89.0, 1.91.0]
        arch: [x86_64, i686]
    env:
      TEST_EXTRA_OPTS: --verbose${{ github.event_name == 'release' && ' -- --include-ignored' || '' }}
    steps:
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: ${{ matrix.rust }}
          target: ${{ matrix.arch }}-pc-windows-msvc
          cache: false
          rustflags: -Dwarnings
      - run: git config --global core.symlinks false
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          ref: ${{ github.event.release.tag_name && format('refs/tags/{0}', github.event.release.tag_name) || github.sha }}
      - working-directory: ${{ github.workspace }}/lib
        run: |
          $PSNativeCommandUseErrorActionPreference = $true
          iex "cargo test --target ${{ matrix.arch }}-pc-windows-msvc $env:TEST_EXTRA_OPTS"
          iex "cargo test --target ${{ matrix.arch }}-pc-windows-msvc --release $env:TEST_EXTRA_OPTS"
      - working-directory: ${{ github.workspace }}/app
        run: |
          $PSNativeCommandUseErrorActionPreference = $true
          iex "cargo test --target ${{ matrix.arch }}-pc-windows-msvc $env:TEST_EXTRA_OPTS"
          iex "cargo test --target ${{ matrix.arch }}-pc-windows-msvc --release $env:TEST_EXTRA_OPTS"

  test-macos:
    runs-on: macos-latest
    needs: check
    strategy:
      matrix:
        rust: [1.89.0, 1.91.0]
        arch: [x86_64, aarch64]
    env:
      TEST_EXTRA_OPTS: --verbose${{ github.event_name == 'release' && ' -- --include-ignored' || '' }}
    steps:
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: ${{ matrix.rust }}
          target: ${{ matrix.arch }}-apple-darwin
          cache: false
          rustflags: -Dwarnings
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          ref: ${{ github.event.release.tag_name && format('refs/tags/{0}', github.event.release.tag_name) || github.sha }}
      - working-directory: ${{ github.workspace }}/lib
        run: |
          cargo test --target ${{ matrix.arch }}-apple-darwin ${TEST_EXTRA_OPTS}
          cargo test --target ${{ matrix.arch }}-apple-darwin --release ${TEST_EXTRA_OPTS}
      - working-directory: ${{ github.workspace }}/app
        run: |
          cargo test --target ${{ matrix.arch }}-apple-darwin ${TEST_EXTRA_OPTS}
          cargo test --target ${{ matrix.arch }}-apple-darwin --release ${TEST_EXTRA_OPTS}

  # --------------------------------------------------------------------------
  # Build
  # --------------------------------------------------------------------------

  build-linux:
    runs-on: ubuntu-latest
    needs: [test-linux, test-windows, test-macos]
    container:
      image: lordmulder/rust-xbuild:1.91-trixie-r3
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          ref: ${{ github.event.release.tag_name && format('refs/tags/{0}', github.event.release.tag_name) || github.sha }}
      - working-directory: ${{ github.workspace }}/.build/linux
        run: make
      - uses: actions/upload-artifact@v4
        with:
          name: sponge256sum-linux
          path: ${{ github.workspace }}/.build/linux/target/*.*
      - uses: actions/upload-pages-artifact@v3
        with:
          path: ${{ github.workspace }}/.build/linux/target/dist/doc

  build-windows:
    runs-on: windows-latest
    needs: [test-linux, test-windows, test-macos]
    steps:
      - uses: repolevedavaj/install-nsis@v1.1.0
        with:
          nsis-version: '3.11'
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: 1.91.0
          target: x86_64-pc-windows-msvc,i686-pc-windows-msvc,aarch64-pc-windows-msvc
          components: rust-src
          cache: false
          rustflags: "-Dwarnings -Ctarget-feature=+crt-static"
      - run: |
          git config --global core.symlinks false
          git config --global --add safe.directory '*'
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          ref: ${{ github.event.release.tag_name && format('refs/tags/{0}', github.event.release.tag_name) || github.sha }}
      - working-directory: ${{ github.workspace }}/.build/windows
        run: cmd.exe /c make.cmd
      - uses: actions/upload-artifact@v4
        with:
          name: sponge256sum-windows
          path: ${{ github.workspace }}/.build/windows/target/*.*

  build-macos:
    runs-on: macos-latest
    needs: [test-linux, test-windows, test-macos]
    steps:
      - run: git config --global --add safe.directory '*'
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: 1.91.0
          target: x86_64-apple-darwin,aarch64-apple-darwin
          cache: false
          rustflags: "-Dwarnings -Ctarget-feature=+crt-static"
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          ref: ${{ github.event.release.tag_name && format('refs/tags/{0}', github.event.release.tag_name) || github.sha }}
      - working-directory: ${{ github.workspace }}/.build/bsd-unix
        run: ./build-macos.sh
      - uses: actions/upload-artifact@v4
        with:
          name: sponge256sum-macos
          path: ${{ github.workspace }}/.build/bsd-unix/target/*.*

  build-freebsd:
    runs-on: ubuntu-latest
    needs: [test-linux, test-windows, test-macos]
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          ref: ${{ github.event.release.tag_name && format('refs/tags/{0}', github.event.release.tag_name) || github.sha }}
      - uses: vmactions/freebsd-vm@v1
        with:
          release: 14.3
          usesh: true
          prepare: |
            pkg install -y git curl
            curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y --default-toolchain 1.91.0
            mkdir -p /opt/sysroot/arm64
            curl -sSf https://download.freebsd.org/ftp/releases/arm64/14.3-RELEASE/base.txz | tar -C /opt/sysroot/arm64 -xJ lib usr/lib
            . "$HOME/.cargo/env"
            rustup target add x86_64-unknown-freebsd i686-unknown-freebsd
            rustup component add rust-src
            git config --global --add safe.directory '*'
          run: |
            . "$HOME/.cargo/env"
            ( cd .build/bsd-unix && ./build-freebsd.sh )
      - uses: actions/upload-artifact@v4
        with:
          name: sponge256sum-freebsd
          path: ${{ github.workspace }}/.build/bsd-unix/target/*.tar.xz

  build-netbsd:
    runs-on: ubuntu-latest
    needs: [test-linux, test-windows, test-macos]
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          ref: ${{ github.event.release.tag_name && format('refs/tags/{0}', github.event.release.tag_name) || github.sha }}
      - uses: vmactions/netbsd-vm@v1
        with:
          release: 10.1
          usesh: true
          prepare: |
            /usr/sbin/pkg_add git curl clang
            curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y --default-toolchain 1.91.0
            mkdir -p /opt/sysroot/i386
            curl -sSf https://cdn.netbsd.org/pub/NetBSD/NetBSD-10.1/i386/binary/sets/base.tgz | tar -C /opt/sysroot/i386 -xzf - lib usr/lib
            curl -sSf https://cdn.netbsd.org/pub/NetBSD/NetBSD-10.1/i386/binary/sets/comp.tgz | tar -C /opt/sysroot/i386 -xzf - usr/lib
            . "$HOME/.cargo/env"
            rustup component add rust-src
            git config --global --add safe.directory '*'
          run: |
            . "$HOME/.cargo/env"
            ( cd .build/bsd-unix && ./build-netbsd.sh )
      - uses: actions/upload-artifact@v4
        with:
          name: sponge256sum-netbsd
          path: ${{ github.workspace }}/.build/bsd-unix/target/*.tar.xz

  build-openbsd:
    runs-on: ubuntu-latest
    needs: [test-linux, test-windows, test-macos]
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          ref: ${{ github.event.release.tag_name && format('refs/tags/{0}', github.event.release.tag_name) || github.sha }}
      - uses: vmactions/openbsd-vm@v1
        with:
          release: 7.8
          usesh: true
          prepare: |
            pkg_add git rust rust-src
            mkdir -p /opt/sysroot/i386 /opt/sysroot/arm64
            curl -sSf https://cdn.openbsd.org/pub/OpenBSD/7.8/i386/base78.tgz | tar -C /opt/sysroot/i386 -xzf - ./usr/lib
            curl -sSf https://cdn.openbsd.org/pub/OpenBSD/7.8/arm64/base78.tgz | tar -C /opt/sysroot/arm64 -xzf - ./usr/lib
            git config --global --add safe.directory '*'
          run: |
            cd .build/bsd-unix
            ./build-openbsd.sh
      - uses: actions/upload-artifact@v4
        with:
          name: sponge256sum-openbsd
          path: ${{ github.workspace }}/.build/bsd-unix/target/*.tar.xz

  build-dragonfly:
    runs-on: ubuntu-latest
    needs: [test-linux, test-windows, test-macos]
    if: false
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          ref: ${{ github.event.release.tag_name && format('refs/tags/{0}', github.event.release.tag_name) || github.sha }}
      - uses: vmactions/dragonflybsd-vm@v1
        with:
          release: 6.4.2
          usesh: true
          prepare: |
            pkg install -y rust
            git config --global --add safe.directory '*'
          run: |
            cd .build/bsd-unix
            ./build-dragonfly.sh
      - uses: actions/upload-artifact@v4
        with:
          name: sponge256sum-dragonfly
          path: ${{ github.workspace }}/.build/bsd-unix/target/*.tar.xz

  build-solaris:
    runs-on: ubuntu-latest
    needs: [test-linux, test-windows, test-macos]
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          ref: ${{ github.event.release.tag_name && format('refs/tags/{0}', github.event.release.tag_name) || github.sha }}
      - uses: vmactions/solaris-vm@v1
        with:
          release: 11.4
          usesh: true
          prepare: |
            pkg install developer/gcc developer/versioning/git
            ( cd /tmp && curl -sSf https://static.rust-lang.org/dist/rust-1.91.1-x86_64-pc-solaris.tar.gz | tar -xzf - )
            /tmp/rust-1.91.1-x86_64-pc-solaris/install.sh
            rm -rf /tmp/rust-1.91.1-x86_64-pc-solaris
            git config --global --add safe.directory '*'
          run: |
            export PATH="/usr/local/bin:$PATH"
            ( cd .build/bsd-unix && ./build-solaris.sh )
      - uses: actions/upload-artifact@v4
        with:
          name: sponge256sum-solaris
          path: ${{ github.workspace }}/.build/bsd-unix/target/*.tar.xz

  build-illumos:
    runs-on: ubuntu-latest
    needs: [test-linux, test-windows, test-macos]
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          ref: ${{ github.event.release.tag_name && format('refs/tags/{0}', github.event.release.tag_name) || github.sha }}
      - uses: vmactions/omnios-vm@v1
        with:
          release: r151054
          usesh: true
          prepare: |
            pkg install developer/build-essential developer/versioning/git
            curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y --default-toolchain 1.91.0
            git config --global --add safe.directory '*'
          run: |
            . "$HOME/.cargo/env"
            ( cd .build/bsd-unix && ./build-solaris.sh )
      - uses: actions/upload-artifact@v4
        with:
          name: sponge256sum-illumos
          path: ${{ github.workspace }}/.build/bsd-unix/target/*.tar.xz

  # ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  # Deploy pages
  # ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  pages:
    runs-on: ubuntu-latest
    needs: [build-linux, build-windows, build-macos, build-freebsd, build-netbsd, build-openbsd, build-dragonfly, build-solaris, build-illumos]
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - id: deployment
        uses: actions/deploy-pages@v4

  # --------------------------------------------------------------------------
  # Release
  # --------------------------------------------------------------------------

  release:
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'release' }}
    needs: [build-linux, build-windows, build-macos, build-freebsd, build-netbsd, build-openbsd, build-dragonfly, build-solaris, build-illumos]
    permissions:
      contents: write
    steps:
      - uses: actions/download-artifact@v4
        with:
          pattern: sponge256sum-*
          path: artifacts
          merge-multiple: true
      - uses: Roang-zero1/github-upload-release-artifacts-action@v2
        with:
          args: artifacts/
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
